*{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
}
.header{
    background-image: linear-gradient( rgba(255,215,0,0.9),rgba(241,247,251,0.8)), url(images/food-background-min.jpg);
    min-height: 100vh;
    
}
.nav-bar{
    display:flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: #000;
    overflow: hidden;
}
 .nav-bar .menu{
    display: flex;
    padding: 14px;
    list-style-type: none;
    
    
    
}
.menu li{
    margin: 20px 20px;
    position: relative;
    flex: 1;
    font-size: 25px;
    font-weight: 600;
}
.menu li a{
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.menu li a::after{
    width:100%;
    content: "";
    display:none;
    height: 3px;
    position: absolute;
    background-color: red;
    transition:0.5s;

}
.menu li a:hover::after{
    display: block;
}
.nav-bar .logo{
    width: 85%;
}
.mid-text{
    text-align: center;
    margin: 15% auto;
    width: 80%;
   
    
}
.mid-text h1{
 font-size: 60px;
 color: red;
}
.mid-text p{
    font-size: 20px;
    color: red;
    padding: 10px;
    font-weight: 500;

}
.header .btn{
    font-size: 25px;
    background-color: red;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    
}
.header .btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;

}
.header .btn:hover{
    background-color: #226612;
    color: red;

}


